:root {
  --branding-color: rgb(232, 241, 248);
  --primary-color: #fde1e6;
  --secondary-color: rgb(248, 223, 248);
  --tertiary-color: rgb(212, 241, 250);
}
h1,
h2 {
  font-family: "Poppins", serif;
  font-weight: normal;
}
p {
  font-family: "Poppins", serif;
}
img {
  border-radius: 300px;
}
.hero {
  background: var(--branding-color);
  padding: 40px;
}
.cardOne {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  margin: 20px;
}
.cardTwo {
  background: var(--primary-color);
  margin: 20px;
}
.post-input {
  padding: 15px;
}
.latestPost {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  border-radius: 5px;
}
.secondPost {
  background: pink;
  border-radius: 5px;
}
.thirdPost {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: white;
  border-radius: 5px;
}
.fourthPost {
  background: rgb(60, 60, 199);
  color: gray;
  border-radius: 5px;
}
.fifthPost {
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(19, 170, 82) 0%,
    rgb(0, 102, 43) 90%
  );
  color: honeydew;
  border-radius: 5px;
}
.container-game-page {
  padding: 15px;
  margin: 10px;
  font-family: "Poppins", serif;
  font-size: 24px;
}
.solitaire {
  background: blue;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.pinball {
  background: white;
  color: red;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.snake {
  background: black;
  color: green;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.drawing {
  background: red;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.jenga {
  background: rgb(255, 217, 0);
  color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.connect {
  background: black;
  color: red;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.checkers {
  background: red;
  color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.chess {
  background: black;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.tag {
  background: white;
  color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.monoploy {
  background: white;
  color: green;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.life {
  background: white;
  color: blue;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.basketball {
  background: black;
  color: orange;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.quizzes {
  background: blue;
  color: yellow;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.battlefield {
  background: green;
  color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.room {
  background: black;
  color: gray;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.mystery {
  background: gray;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.sims {
  background: white;
  color: green;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.nba {
  background: orange;
  color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.nfl {
  background: green;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.independent {
  background: Black;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
.solo {
  background: #38598b;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
.duo {
  background: #38598b;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
.team {
  background: #38598b;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
.group {
  background: #38598b;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
.live {
  background: #38598b;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
.container-chat {
  padding: 10px;
  margin: 15px;
  font-family: "Poppins", serif;
  font-size: 24px;
}
.gamer {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.fashion {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.celeb {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.anime {
  background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.movie {
  background: radial-gradient(
    circle at 0.2% 1.8%,
    rgb(255, 90, 8) 0%,
    rgb(88, 0, 0) 100.2%
  );
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.foodie {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(228, 118, 0) 0%,
    rgb(247, 189, 2) 90%
  );
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.music {
  background: linear-gradient(
    111.5deg,
    rgb(187, 232, 255) 11.1%,
    rgb(4, 78, 116) 107.5%
  );
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.sports {
  background: radial-gradient(
    759px at 14% 22.3%,
    rgb(10, 64, 88) 0%,
    rgb(15, 164, 102) 90%
  );
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.pop {
  background: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
