:root {
  --branding-color: rgb(232, 241, 248);
  --primary-color: #fde1e6;
  --secondary-color: rgb(248, 223, 248);
  --tertiary-color: rgb(212, 241, 250);
}
h1,
h2 {
  font-family: "Poppins", serif;
  font-weight: normal;
}
p {
  font-family: "Poppins", serif;
}
img {
  border-radius: 300px;
}
.hero {
  background: var(--branding-color);
  padding: 40px;
}
.cardOne {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  margin: 20px;
}
.cardTwo {
  background: var(--primary-color);
  margin: 20px;
}
.post-input {
  padding: 15px;
}
.latestPost {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  border-radius: 5px;
}
.secondPost {
  background: pink;
  border-radius: 5px;
}
.thirdPost {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: white;
  border-radius: 5px;
}
.fourthPost {
  background: rgb(60, 60, 199);
  color: gray;
  border-radius: 5px;
}
.fifthPost {
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(19, 170, 82) 0%,
    rgb(0, 102, 43) 90%
  );
  color: honeydew;
  border-radius: 5px;
}
